* {
    box-sizing: border-box;
}

body {
    background-color: rgba(245, 234, 151, 0);
}

#grid {
    /* width: 400px;
    height: 300px; */
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px solid rgb(189, 5, 5);
}

.button {
    font-size: 40px;
    background-color: #fff;
    border: 1px solid red;
    margin-top: 30px;
    padding: 10px;
}